.return-to-shop .button.wc-backward{
    background-color: var(--brown);
    color: var(--white);
    border: 1px solid var(--brown);
}

.return-to-shop .button.wc-backward:hover{
    background-color: var(--blue);
    color: var(--brown);
}