.header-logo {
  margin-top: 4rem;
  text-align: center;
}

.header-logo svg {
  max-width: 20rem;
}

.menu-section--desktop {
  position: fixed;
  width: 100%;
  top: 0;
  display: none;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  background-color: var(--white);
}
.menu-section--desktop .menu-list {
    margin: 0;
    padding: 0;
}
.menu-section--desktop .menu-list li {
  display: inline-block;
  padding: 0 0.5rem;
  border-right: 1px solid var(--brown);
}
.menu-section--desktop .menu-list li:last-child {
  border-right: 0;
  padding-right: 0;
}
.menu-section--desktop .menu-list li a {
  color: var(--brown);
  text-decoration: none;
}

.menu-section {
  position: fixed;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 3px;
  transition: 1s;
}
.menu-section img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.menu-section .menu-icon {
  cursor: pointer;
  fill: var(--brown);
  width: 2rem;
  height: 2rem;
}
.menu-section .menu-icon.show {
  fill: var(--white);
}
.menu-section .menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: 2s;
}
.menu-section .menu-list--hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}
.menu-section .menu-list li {
  padding-top: 0.5rem;
}
.menu-section .menu-list li a {
  text-decoration: none;
  color: var(--white);
  transition: 0.5s;
}
.menu-section .menu-list li a:hover {
  color: var(--blue);
  transition: 0.5s;
}

@media (max-width: 600px) {
  .header-logo {
    margin-top: 0;
  }

  .header-logo svg {
    position: relative;
    left: -1.5rem;
    top: -1rem;
  }

  .menu-section {
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .menu-section {
    display: none;
  }

  .menu-section--desktop {
    display: flex;
  }
}
